<div class="container">

  <h3><%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-warning" %></h3>

  <div class="row">

    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style=" background-size: cover;
          background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400,
          crop: :fill if cocktail.photo? %>')">
          <div class="card-cocktail-name"><%= cocktail.name %></div>

          <%= link_to "", cocktail_path(cocktail.id), class: "card-link" %>

        </div>
      </div>

    <% end %>

  </div>
</div>
