<div class="container">

  <h3><%= link_to "Add cocktail", new_cocktail_path %></h3>

  <% @cocktails.each do |cocktail| %>
  <div>
    <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
  </div>
  <% end %>
</div>
